.single-playlist-main-container {
  display: flex;
  height: 100vh;
  background-color: #181818;
}
.single-playlist-data-display-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}
.back-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f8fafc;
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 80px;
  margin-bottom: 20px;
}

.single-playlist-banner {
  display: flex;
}

.single-playlist-logo {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}

.single-playlist-info {
  padding-left: 20px;
  align-self: flex-end;
}
.play-list-category-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.single-play-list-name {
  font-family: Assistant;
  font-size: 80px;
  display: inline;
  font-weight: 600;
  line-height: 104px;
  text-align: left;
  color: #ffffff;
}

.play-list-owner-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.playlist-title {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #f8fafc;
}

.track-data {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.display-songs-container {
  height: 400px;
  overflow: auto;
}
.data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
}
.table-head {
  position: sticky;
  top: 0;
  background-color: #181818;
  width: 100%;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}
.track-row {
  cursor: pointer;
}
.selected-track {
  background-color: #303030;
}

/* audio player styles */

.audio-player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.album-logo-artist-container {
  display: flex;
  align-items: center;
}

.album-art {
  width: 60x;
  height: 60px;
  border-radius: 4px;
}

.selected-album-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  width: 180px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-album-artist-name {
  font-family: Assistant;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #9b9b9b;
}

.album-artist-info-container {
  margin-left: 14px;
}

.audio-player-custom-style {
  background-color: transparent;
  color: #9b9b9b;
}

.rhap_container {
  background: transparent;
}

.rhap_progress-filled {
  background-color: #1db954 !important;
}
.rhap_progress-indicator {
  background-color: #ffffff !important;
}

.rhap_volume-bar {
  background-color: #1db954 !important;
}
.rhap_volume-indicator {
  background-color: #ffffff !important;
}
