.single-playlist-main-container {
  display: flex;
  height: 100vh;
  background-color: #181818;
}
.single-playlist-data-display-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
}
.back-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8fafc;
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 80px;
}

.single-playlist-banner {
  display: flex;
}

.single-playlist-logo {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}

.single-playlist-info {
  padding-left: 20px;
  align-self: flex-end;
}
.play-list-category-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.single-play-list-name {
  font-family: Assistant;
  font-size: 80px;
  display: inline;
  font-weight: 600;
  line-height: 104px;
  text-align: left;
  color: #ffffff;
}

.play-list-owner-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.playlist-title {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #f8fafc;
}

.track-data {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.display-songs-container {
  height: 400px;
  overflow: auto;
}
.data-table {
  /* border-spacing: 8px; */
  width: 100%;
  border-collapse: separate;
  border-spacing: 24px;
}
.table-head {
  position: sticky;
  top: 0;
  background-color: #181818;
  width: 100%;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}
