.single-playlist-main-container-desktop {
  display: flex;
  height: 100vh;
  background-color: #181818;
  width: 100%;
}
.single-playlist-data-display-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
}
.back-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f8fafc;
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 80px;
  margin-bottom: 20px;
}

.single-playlist-banner {
  display: flex;
  padding: 20px;
}

.single-playlist-logo {
  width: 280px;
  height: 280px;
  border-radius: 8px;
}

.single-playlist-info {
  padding-left: 20px;
  align-self: flex-end;
}
.play-list-category-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.single-play-list-name {
  font-family: Assistant;
  font-size: 80px;
  display: inline;
  font-weight: 600;
  line-height: 104px;
  text-align: left;
  color: #ffffff;
}

.play-list-owner-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
}

.playlist-title {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #f8fafc;
}

.track-data {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.display-songs-container {
  height: 800px;
  overflow: auto;
  padding: 20px;
  padding-top: 0;
}
.data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 16px;
}
.table-head {
  position: sticky;
  top: 0;
  background-color: #181818;
  width: 100%;
}

.album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}
.track-row {
  cursor: pointer;
}
.selected-track {
  background-color: #303030;
}
.added-at {
  width: 120px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

/* audio player styles */

.audio-player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #9b9b9b;
  padding: 0 14px;
  position: sticky;
  bottom: 0;
  background-color: #181818;
}

.album-logo-artist-container {
  display: flex;
  align-items: center;
}

.album-art {
  width: 60x;
  height: 60px;
  border-radius: 4px;
}

.selected-album-name {
  font-family: Assistant;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  width: 180px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-album-artist-name {
  font-family: Assistant;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: left;
  color: #9b9b9b;
}

.album-artist-info-container {
  margin-left: 14px;
}

.audio-player-custom-style {
  background-color: transparent;
  color: #9b9b9b;
}

.rhap_container {
  background: transparent;
}

.rhap_progress-filled {
  background-color: #1db954 !important;
}
.rhap_progress-indicator {
  background-color: #ffffff !important;
}

.rhap_volume-bar-filled {
  background-color: #1db954 !important;
}
.rhap_volume-bar {
  background-color: #9b9b9b !important;
}
.rhap_volume-indicator {
  background-color: #ffffff !important;
}
.rhap_time {
  color: #9b9b9b !important;
}
.rhap_volume-button {
  color: #f8fafc;
}

.single-playlist-main-container-mobile {
  display: none;
}

/*responsive design*/
@media screen and (max-width: 766px) {
  .single-playlist-main-container-desktop {
    display: none;
  }
  .single-playlist-main-container-mobile {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: 10px 4px;
    height: 100vh;
    position: relative;
    width: 100%;
  }
  .single-playlist-banner-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .single-playlist-logo-mobile {
    width: 150px;
    height: 150px;
    border-radius: 4px;
  }
  .single-playlist-info-mobile {
    display: flex;
    flex-direction: column;
  }
  .single-play-list-name {
    font-size: 32px;
    font-weight: 600;
    line-height: 0;
  }
  .play-list-owner-name {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 0;
    color: #94a3b8;
  }
  .display-tracks-container-mobile {
    padding: 10px;
    list-style: none;
    height: 600px;
    overflow: auto;
  }
  .track-container-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
  }
  .track-name-mobile {
    font-family: Assistant;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #ffffff;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
  .track-artist-mobile {
    font-family: Assistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.7px;
    text-align: left;
    color: #9b9b9b;
  }
  .track-duration-mobile {
    font-family: Assistant;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #9b9b9b;
  }
  .album-art {
    height: 50px;
    width: 50px;
  }
  .selected-album-artist-name {
    width: 100px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .audio-control-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
  }
  .custom-audio-player-mobile {
    display: none;
  }
  .custom-audio-player-desktop {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .data-table {
    padding: 20px;
  }
  .selected-album-name {
    font-size: 12px;
    font-weight: bold;
  }
  .selected-album-artist-name {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
  .track-data {
    font-size: 12px;
  }
  .single-play-list-name {
    font-size: 32px;
    line-height: 30px;
  }
  .album-name {
    width: 120px;
  }
  .display-songs-container {
    padding: 0;
    height: 100%;
  }
  .artist {
    width: 80px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }
  .single-playlist-logo {
    height: 180px;
    width: 180px;
  }
  .single-playlist-data-display-container {
    padding: 20px 2px;
  }
}
