.main-home-container {
  min-height: 100vh;
  display: flex;
  background-color: #181818;
}

.play-list-data-container {
  min-height: 100vh;
  width: 100%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.editors-pick-container {
  padding: 10px;
}

.play-list-head {
  font-family: Assistant;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}

.genre-moods-container {
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .main-home-container {
    flex-direction: column;
  }
}
